.tagsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding: 6px;
	border: 1px solid #444;
	border-radius: 6px;
}
.measure {
	visibility: hidden; /* no se ve */
	position: absolute;
	white-space: pre;
	font-family: inherit;
	font-size: inherit;
}
.tagInput {
	background: transparent;
	border: none;
	color: white;
	outline: none;
	min-width: 9em;
}

.tag {
	display: flex;
	align-items: center;
	background: #222;
	border-radius: 6px;
	padding: 5px 8px;
	position: relative;
	gap: 8px;
}

.addTag {
	background: #333;
	border: 1px dashed #555;
	color: #aaa;
	padding: 4px 8px;
	border-radius: 6px;
	cursor: pointer;
	box-sizing: border-box;
}
.addTag:hover {
	color: white;
	border-color: #777;
}

.removeTag {
	background: none;
	border: none;
	color: #888;
	cursor: pointer;
	font-size: 16px;
}
