.addButton {
	background: #020617;
	border: 1px solid #334155;
	color: #94a3b8;
	padding: 4px 8px;
	border-radius: 4px;
	cursor: pointer;
	width: fit-content;
}

.addButton:hover {
	color: #e5e7eb;
	border-color: #64748b;
}

.abilityCard {
	background: #020617;
	display: flex;
	flex-direction: column;
	padding: 8px;
	gap: 8px;
}

.abilitiesContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.abilityHeader {
	display: flex;
	flex-direction: row;

	padding-bottom: 8px;
	align-items: center;
	gap: 8px;
}

.abilityContent {
	border-top: 2px solid #334155;
	padding: 0 8px;
	max-height: 0;

	overflow: hidden;
}

.abilityContent.open {
	max-height: 2000px;
	padding: 8px;
}

.abilitiesContainer .toggleButton,
.abilitiesContainer .removeButton {
	width: 24px;
	height: 24px;
	cursor: pointer;
	border: 2px solid #334155;
}

.abilitiesContainer select,
.abilitiesContainer input {
	background: #020617;
	color: #e5e7eb;
	border: 1px solid #334155;
	border-radius: 4px;
	padding: 8px 6px;
}

.dragHandle {
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggleButton {
	margin-left: auto;
}

.stepsContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.stepCard {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 2px solid #334155;
	padding: 8px;
}

.stepHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.stepContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
